<% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center ">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://leverageedublog.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2019/12/21185119/Computer-Science-Subjects.png"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Add New Book</h5>
                        <form action="/addbooks" method="POST" novalidate class="validated-form"
                            enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label" for="bookname">Bookname</label>
                                <input class="form-control" type="text" id="name" name="name" autofocus required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="subject">Subject</label>
                                <input class="form-control" type="subject" id="subject" name="subject" required>
                            </div>
                            <div class="mb-3">
                                <div class="form-file custom-file">
                                    <input type="file" class="form-file-input" id="pdf" name="pdf" multiple>
                                    <label class="form-file-label" for="pdf">
                                        <span class="form-file-text custom-file-label"></span>
                                        <span class="form-file-button"></span>
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-success">Add Book</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>