<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/innercontents/books.css">
    <h1 class="heading">Books</h1>

    <div class="row">
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Digital & Computer Organization</h6>
                        <a href="/docs/dco.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Programming & Problem Solving</h6>
                        <a href="/docs/pps.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Principles of IT Management</h6>
                        <a href="/docs/it.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Data Structure</h6>
                        <a href="/docs/ds.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Database Management System</h6>
                        <a href="/docs/dbms.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Operating System</h6>
                        <a href="/docs/os.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Analysis of Algorithms</h6>
                        <a href="/docs/daa.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Soft Computing</h6>
                        <a href="/docs/sc.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Computer Graphics</h6>
                        <a href="/docs/cg.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Software Engineering</h6>
                        <a href="/docs/se.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Data Mining</h6>
                        <a href="/docs/dm.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Computer Networks</h6>
                        <a href="/docs/cn.pdf" type="application/pdf" target="_blank"><label>Read Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>