<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/innercontents/books.css">
    <h1 class="heading">Books</h1>

    <div class="row">

        <div class="column mb-3">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/51KFE8pyp1L.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Digital & Computer Organization</h6>
                        <a href="/docs/dco.pdf" type="application/pdf" target="_blank"><label>Read
                                Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/81znFI67IRL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Programming & Problem Solving</h6>
                        <a href="/docs/pps.pdf" type="application/pdf" target="_blank"><label>Read
                                Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/51mDmYHm31L._SX379_BO1,204,203,200_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Data Structure</h6>
                        <a href="/docs/ds.pdf" type="application/pdf" target="_blank"><label>Read
                                Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column mb-3">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/81IHziYwwaL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Operating System</h6>
                        <a href="/docs/os.pdf" type="application/pdf" target="_blank"><label>Read
                                Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/513P8XoCAEL._SX376_BO1,204,203,200_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Analysis of Algorithms</h6>
                        <a href="/docs/daa.pdf" type="application/pdf" target="_blank"><label>Read
                                Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/31ByneyqPdL._SX331_BO1,204,203,200_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Soft Computing</h6>
                        <a href="/docs/sc.pdf" type="application/pdf" target="_blank"><label>Read
                                Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/51sy-fiHQ6L._SX398_BO1,204,203,200_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Data Mining</h6>
                        <a href="/docs/dm.pdf" type="application/pdf" target="_blank"><label>Read
                                Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/81dabeF8m8L.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-text">Computer Networks</h6>
                        <a href="/docs/cn.pdf" type="application/pdf" target="_blank"><label>Read
                                Book</label></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%if(books.length>0){%>
            <h2>Newly Added</h2>
            <%for(let i=0;i<books.length;i++){%>

                <div class="column">
                    <div>
                        <div class="card" style="width: 18rem;">
                            <img src="https://thumbs.dreamstime.com/b/open-book-19523116.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h6 class="card-text">
                                    Name:<%=books[i].name%>
                                </h6>
                                <h6 class="card-text">
                                    Subject:<%=books[i].subject%>
                                </h6>

                                <a href="<%=books[i].pdf[0].url%>" target="_blank"><label>ReadBook
                                    </label></a>

                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                    <%}%>
    </div>