<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/innercontents/core.css">
    <h1>Core Subjects</h1>
    <dl>
        <dt>DBMS</dt>
        <dt>
            <a href="https://www.scaler.com/topics/dbms/" target="_blank">Notes
            </a>
        </dt>
        <dt>
            <a href="https://www.youtube.com/watch?v=kBdlM6hNDAE&list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y"
                target="_blank">Playlist
            </a>
        </dt>
        <dt>
            <a href="https://www.interviewbit.com/dbms-interview-questions/" target="_blank">Interview Questions
            </a>
        </dt>
    </dl>
    <dl>
        <dt>Operating System</dt>
        <dt>
            <a href="https://www.scaler.com/topics/operating-system/" target="_blank">Notes
            </a>
        </dt>
        <dt>
            <a href="https://www.youtube.com/watch?v=bkSWJJZNgf8&list=PLxCzCOWd7aiGz9donHRrE9I3Mwn6XdP8p"
                target="_blank">Playlist
            </a>
        </dt>
        <dt>
            <a href="https://www.interviewbit.com/operating-system-interview-questions/" target="_blank">Interview
                Questions
            </a>
        </dt>
    </dl>
    <dl>
        <dt>Structured Query Language</dt>
        <dt>
            <a href="https://www.tutorialspoint.com/sql/sql-quick-guide.htm" target="_blank">Notes
            </a>
        </dt>
        <dt>
            <a href="https://www.youtube.com/watch?v=q_JsgpiuY98" target="_blank">Playlist
            </a>
        </dt>
        <dt>
            <a href="https://www.interviewbit.com/sql-interview-questions/" target="_blank">Interview
                Questions
            </a>
        </dt>
    </dl>
    <dl>
        <dt>Computer Networks</dt>
        <dt>
            <a href="https://www.geeksforgeeks.org/last-minute-notes-computer-network/" target="_blank">Notes
            </a>
        </dt>
        <dt>
            <a href="https://www.youtube.com/playlist?list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx" target="_blank">Playlist
            </a>
        </dt>
        <dt>
            <a href="interviewbit.com/networking-interview-questions/" target="_blank">Interview
                Questions
            </a>
        </dt>
    </dl>
    <dl>
        <dt>OOPS in C++</dt>
        <dt>
            <a href="https://www.scaler.com/topics/cpp/" target="_blank">Notes
            </a>
        </dt>
        <dt>
            <a href="https://www.youtube.com/watch?v=ncMo5au4nXU&list=PLA8BpojmT5JF4KKQCEIqURc71z6nvYXEK"
                target="_blank">Playlist
            </a>
        </dt>
        <dt>
            <a href="https://www.interviewbit.com/oops-interview-questions/" target="_blank">Interview
                Questions
            </a>
        </dt>
    </dl>
    <dl>
        <dt>OOPS in JAVA</dt>
        <dt>
            <a href="https://www.scaler.com/topics/java/" target="_blank">Notes
            </a>
        </dt>
        <dt>
            <a href="https://www.youtube.com/watch?v=5NQjLBuNL0I&t=14s" target="_blank">Playlist
            </a>
        </dt>
        <dt>
            <a href="https://www.interviewbit.com/oops-interview-questions/" target="_blank">Interview
                Questions
            </a>
        </dt>
    </dl>
    <dl>
        <dt>Aptitude and Reasoning</dt>
        <dt>
            <a href="https://www.geeksforgeeks.org/aptitude-questions-and-answers/" target="_blank">Notes
            </a>
        </dt>
        <dt>
            <a href="https://www.youtube.com/watch?v=bOD5b1GV1Z8&list=PL3JmT-xgOMNy5r3QBTRzv32LFUTXBmKf2"
                target="_blank">Playlist
            </a>
        </dt>
        <dt>
            <a href="https://www.geeksforgeeks.org/ibm-placement-paper-quantitative-analysis-set-1/"
                target="_blank">Practice
                Questions
            </a>
        </dt>
    </dl>
    <dl>
        <dt>Puzzles</dt>
        <dt>
            <a href="https://www.geeksforgeeks.org/puzzles/" target="_blank">Notes
            </a>
        </dt>
        <dt>
            <a href="https://www.youtube.com/watch?v=J9CVEe48Pr4&list=PLJ0OSCymthUyl7YRpq2-wJkTUprKsvA86"
                target="_blank">Playlist
            </a>
        </dt>
        <dt>
            <a href="https://www.interviewbit.com/puzzles/" target="_blank">Interview
                Questions
            </a>
        </dt>
    </dl>