<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/innercontents/ds.css">
    <div class="container">
        <ul class="list-group">
            <h3>Topics</h3>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Basic Array & Strings Implementation</label>
                <a href="https://www.youtube.com/watch?v=37E9ckMDdTk&list=PLgUwDviBIf0rENwdL0nEH0uGom9no0nyB"
                    target="_blank">Click to
                    access playlist
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Recursion & Backtracking</label>
                <a href="https://www.youtube.com/watch?v=yVdKa8dnKiE&list=PLgUwDviBIf0rGlzIn_7rsaR2FQ5e6ZOL9"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Sorting Algorithms</label>
                <a href="https://www.youtube.com/watch?v=YJeoQBevNVo&list=PLDzeHZWIZsTp4pb_WBRahP1tnipLuX9qM"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Binary Search</label>
                <a href="https://www.youtube.com/playlist?list=PLgUwDviBIf0qYbL4TBaEWgb-ljVdhkM7R" target="_blank">Click
                    to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Linked Lists</label>
                <a href="https://www.youtube.com/watch?v=iRtLEoL-r-g&list=PLgUwDviBIf0r47RKH7fdWN54AbWFgGuii"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Stacks & Queues</label>
                <a href="https://www.youtube.com/watch?v=GYptUgnIM_I&list=PLgUwDviBIf0oSO572kQ7KCSvCUh1AdILj"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Binary Trees & Binary Search Trees</label>
                <a href="https://www.youtube.com/watch?v=OYqYEM1bMK8&list=PLgUwDviBIf0q8Hkd7bK2Bpryj2xVJk8Vk"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Graphs</label>
                <a href="https://www.youtube.com/watch?v=M3_pLsDdeuU&list=PLgUwDviBIf0oE3gA41TKO2H5bHpPd7fzn"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Dynamic Programming</label>
                <a href="https://www.youtube.com/watch?v=FfXoiwwnxFw&list=PLgUwDviBIf0qUlt5H_kiKYaNSqJ81PMMY"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Tries</label>
                <a href="https://www.youtube.com/watch?v=dBGUmUQhjaM&list=PLgUwDviBIf0pcIDCZnxhv0LkHf5KzG9zp"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Bit Manipulation</label>
                <a href="https://www.youtube.com/watch?v=jlnCQqfg0Ao&list=PLDdcY4olLQk3HtsU-PxcedPtz1abfqBr4"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Hashmaps & Heaps</label>
                <a href="https://www.youtube.com/watch?v=ukTRZD-WJH4&list=PL-Jc9J83PIiHq5rMZasunIR19QG3E-PAA"
                    target="_blank">Click to
                    access playlist</a>

            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <label>Greedy</label>
                <a href="https://www.youtube.com/watch?v=ARvQcqJ_-NY&list=PLfFeAJ-vQopt_S5XlayyvDFL_mi2pGJE3"
                    target="_blank">Click to
                    access playlist</a>

            </li>
        </ul>

    </div>