<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/innercontents/ml.css">

    <header>
        <h1>Machine Learning Resources</h1>
    </header>
    <main>
        <section id="tutorials">
            <h2>Tutorials</h2>
            <ul>
                <li><a href="https://www.tensorflow.org/tutorials">TensorFlow Tutorials</a></li>
                <li><a href="https://scikit-learn.org/stable/tutorial/index.html">Scikit-Learn Tutorial</a></li>
                <li><a href="https://pytorch.org/tutorials/">PyTorch Tutorials</a></li>
            </ul>
        </section>
        <section id="courses">
            <h2>Courses</h2>
            <ul>
                <li><a href="https://www.coursera.org/learn/machine-learning">Machine Learning (Coursera)</a></li>
                <li><a href="https://www.udemy.com/course/machinelearning/">Complete Machine Learning and Data Science:
                        Zero to Mastery (Udemy)</a></li>
                <li><a href="https://www.edx.org/course/introduction-to-artificial-intelligence-ai">Introduction to
                        Artificial Intelligence (edX)</a></li>
            </ul>
        </section>
        <section id="books">
            <h2>Books</h2>
            <ul>
                <li><a href="https://www.amazon.com/Hands-Machine-Learning-Scikit-Learn-TensorFlow/dp/1492032646">Hands-On
                        Machine Learning with Scikit-Learn, Keras, and TensorFlow</a></li>
                <li><a href="https://www.amazon.com/Python-Machine-Learning-scikit-learn-TensorFlow/dp/1787125939">Python
                        Machine Learning: Machine Learning and Deep Learning with Python, scikit-learn, and
                        TensorFlow</a></li>
                <li><a href="https://www.amazon.com/Pattern-Recognition-Learning-Information-Statistics/dp/0387310738">Pattern
                        Recognition and Machine Learning (Information Science and Statistics)</a></li>
            </ul>
        </section>
        <section id="tools">
            <h2>Tools and Libraries</h2>
            <ul>
                <li><a href="https://www.tensorflow.org/">TensorFlow</a></li>
                <li><a href="https://scikit-learn.org/">Scikit-Learn</a></li>
                <li><a href="https://pytorch.org/">PyTorch</a></li>
            </ul>
        </section>
        <section id="YouTube Courses">
            <h2>YouTubeCourses</h2>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=aircAruvnKk&list=PLZbbT5o_s2xq7LwI2y8_QtvuXZedL6tQU">Deep
                        Learning with PyTorch by FreeCodeCamp.org</a></li>
                <li><a href="https://www.youtube.com/watch?v=IHZwWFHWa-w&list=PLT6elRN3Aer7ncFlaCz8Zz-4B5cnsrOMt">Machine
                        Learning by Google Developers</a></li>
                <li><a href="https://www.youtube.com/watch?v=_Z9TRANg4c0&list=PL2-dafEMk2A7YdKv4XfKpfbTH5z6rEEj3">Machine
                        Learning Recipes by Google Developers</a></li>
            </ul>
        </section>

    </main>