<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/stylesheets/innercontents/webdev.css">

  <header>
    <h1>Web Development Resources</h1>
  </header>
  <main>
    <section id="html">
      <h2>HTML Resources</h2>
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">MDN Web Docs: HTML</a></li>
        <li><a href="https://www.w3schools.com/html/">W3Schools: HTML Tutorial</a></li>
        <li><a href="https://htmlreference.io/">HTML Reference</a></li>
      </ul>
    </section>
    <section id="css">
      <h2>CSS Resources</h2>
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">MDN Web Docs: CSS</a></li>
        <li><a href="https://www.w3schools.com/css/">W3Schools: CSS Tutorial</a></li>
        <li><a href="https://css-tricks.com/">CSS-Tricks</a></li>
      </ul>
    </section>
    <section id="javascript">
      <h2>JavaScript Resources</h2>
      <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">MDN Web Docs:
            JavaScript</a>
        </li>
        <li><a href="https://www.w3schools.com/js/">W3Schools: JavaScript Tutorial</a></li>
        <li><a href="https://javascript.info/">JavaScript.info</a></li>
      </ul>
    </section>
    <section id="courses">
      <h2>Courses</h2>
      <ul>
        <li><a href="https://www.udemy.com/course/the-web-developer-bootcamp/">The Web Developer Bootcamp by
            Colt Steele</a> - Udemy</li>
        <li><a href="https://www.freecodecamp.org/">FreeCodeCamp</a> - Free online learning platform with
          certifications</li>
        <li><a href="https://www.codecademy.com/">Codecademy</a> - Learn to code interactively, for free
        </li>
      </ul>
    </section>
    <section id="Books">
      <h2>Books</h2>
      <ul>
        <li><a href="https://www.amazon.com/Web-Design-HTML-JavaScript-jQuery/dp/1118907442">Web Design with
            HTML, CSS, JavaScript and jQuery Set by Jon Duckett</a></li>
        <li><a href="https://www.amazon.com/Learning-Web-Design-Beginners-JavaScript/dp/1491960205">Learning
            Web
            Design: A Beginner's Guide to HTML, CSS, JavaScript, and Web Graphics by Jennifer Robbins</a>
        </li>
        <li><a href="https://www.amazon.com/You-Dont-Know-JS-Book/dp/B01AY9P0P6">You Don't Know JS series by
            Kyle Simpson</a></li>
      </ul>

    </section>
    <section id="youtube">
      <h2>YouTube Channels</h2>
      <ul>
        <li><a href="https://www.youtube.com/user/TechGuyWeb">Traversy Media</a></li>
        <li><a href="https://www.youtube.com/user/learncodeacademy">LearnCode.academy</a></li>
        <li><a href="https://www.youtube.com/c/FreeCodeCamp/videos">freeCodeCamp.org</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLillGF-RfqbZTASqIqdvm1R5mLrQq79CU">Modern HTML &
            CSS
            From The Beginning (Including Sass)</a> - Traversy Media</li>
      </ul>
    </section>
  </main>