<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/stylesheets/academics.css">
  <div id="Heading">
    <h1> Academics </h1>
  </div>
  <div class="row">
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://previews.123rf.com/images/lilyoh/lilyoh1902/lilyoh190203086/118515356-pencil-on-the-exam-paper.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text">Previous Year Questions</h6>
            <a href="/materials/academics/pyq" class="btn btn-primary">Click for more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://st3.depositphotos.com/3258807/15736/i/450/depositphotos_157363102-stock-photo-persistent-talented-young-student-making.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text">Assignments</h6>
            <a href="/materials/academics/assign" class="btn btn-primary">Click for more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://media.istockphoto.com/id/949118068/photo/books.jpg?s=170667a&w=0&k=20&c=qU_DMsr0Lu-nk3Cv5Cm-K4wadNslfyTLyQQFtW34Sdw="
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text">Books</h6>
            <a href="/materials/academics/books" class="btn btn-primary">Click for more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://thumbs.dreamstime.com/b/hour-glass-calendar-important-appointment-date-schedule-deadline-concept-time-slipping-away-143914651.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text">Academic Calendar</h6>
            <a href="/materials/academics/calendar" class="btn btn-primary">Click for more</a>
          </div>
        </div>
      </div>
    </div>

  </div>