<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/stylesheets/development.css">
  <div id="Heading">
    <h1> Development </h1>
  </div>
  <div class="row">
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img src="https://assets.telegraphindia.com/telegraph/2022/May/1652783513_web-d.jpg" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h6 class="card-text">Web Development</h6>
            <a href="/materials/development/webdev" class="btn btn-primary">Click for more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://www.businessofapps.com/wp-content/uploads/2020/08/zymr8_steps_the_mobile_app_dev_lifecycle_cover.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text">Application Development</h6>
            <a href="/materials/development/appdev" class="btn btn-primary">Click for more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://cdn-gcp.new.marutitech.com/robot_humanoid_using_tablet_computer_big_data_analytic_1_94eab7101e.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text">Machine Learning</h6>
            <a href="/materials/development/ml" class="btn btn-primary">Click for more</a>
          </div>
        </div>
      </div>
    </div>
  </div>