<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/stylesheets/dsa.css">
  <div id="Heading">
    <h1> Data Structures and Algorithm </h1>
  </div>
  <div class="row">
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://previews.agefotostock.com/previewimage/medibigoff/d3a16a8ee2c5a3cfd22e100dcb4ddde2/esy-057510264.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text"></h6>
            <a href="/materials/dsa/ds" class="btn btn-primary">Data Structures</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSxPXZtOZAJyq9W_tVHCMOEh30KZd4Pd_sXQ"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text"></h6>
            <a href="/materials/dsa/practice" class="btn btn-primary">Practice Questions</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://media.istockphoto.com/id/1400292331/photo/relational-database-tables-with-server-room-and-datacenter-background-concept-of-database.jpg?b=1&s=170667a&w=0&k=20&c=Tg_VtEYKljVL5twTz6YlDf_Sw_-wj976vLT1VhvG53s="
            class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-text"></h6>
            <a href="/materials/core" class="btn btn-primary">Core Subjects</a>
          </div>
        </div>
      </div>
    </div>

  </div>