<% layout('layouts/boilerplate')%>
    <h2 class="text-center main-heading">Materials</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://img.freepik.com/free-photo/business-job-interview-concept_1421-77.jpg?size=626&ext=jpg&ga=GA1.1.455494120.1681804378&semt=sph"
                    class="card-img-top" alt="Skyscrapers" width="300" height="400" />

                <div class="card-body">
                    <a href="/dsa">
                        <h5 class="card-title">DSA</h5>
                    </a>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://img.freepik.com/free-photo/front-view-stacked-books-graduation-cap-ladders-education-day_23-2149241014.jpg?size=626&ext=jpg&ga=GA1.1.455494120.1681804378&semt=sph"
                    class="card-img-top" alt="Los Angeles Skyscrapers" width="300" height="400" />
                <div class="card-body">
                    <a href="/academics">
                        <h5 class="card-title">Academics</h5>
                    </a>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://img.freepik.com/free-photo/operation-process-performance-development-icon_53876-16541.jpg?w=900&t=st=1681807756~exp=1681808356~hmac=c08b45fc22cffad4f1af14b0127e1719160fca316beb308163d06f46e6934963"
                    class="card-img-top" alt="Palm Springs Road" width="300" height="400" />
                <div class="card-body">
                    <a href="/development">
                        <h5 class="card-title">Development</h5>
                    </a>
                    <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show
                        that equal height action.
                    </p>
                </div>
            </div>
        </div>
    </div>