<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/team.css">

    <div class="container">
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-1">
                <label class="heart" for="heart-btn-1"></label>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Ankita Arya</strong>
                <p>ankitaarya@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <div>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div>
                    <input type="checkbox" class="heart-btn" id="heart-btn-2">
                    <label class="heart" for="heart-btn-2"></label>
                </div>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Ritika Upreti</strong>
                <p>ritikaupreti@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-3">
                <label class="heart" for="heart-btn-3"></label>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Sagar Rawal</strong>
                <p>sagarrawal@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <br>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-4">
                <label class="heart" for="heart-btn-4"></label>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Shashi Kumar</strong>
                <p>shashikumar@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-4">
                <label class="heart" for="heart-btn-4"></label>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Shivam Dharpure</strong>
                <p>shivamdharpure@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
    </div>