<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/team.css">

    <div class="container">
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-1">
                <label class="heart" for="heart-btn-1"></label>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Ankita Arya</strong>
                <p>aryaankita432@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/in/ankita-arya-5845a6212/" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <div>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div>
                    <input type="checkbox" class="heart-btn" id="heart-btn-2">
                    <label class="heart" for="heart-btn-2"></label>
                </div>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Ritika Upreti</strong>
                <p>ritikaupreti78@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/in/ritika-upreti-26171a234/" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-3">
                <label class="heart" for="heart-btn-3"></label>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Sagar Rawal</strong>
                <p>sagar2001rawal@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/in/sagar-rawal-43903a1b6/" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <br>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-4">
                <label class="heart" for="heart-btn-4"></label>
            </div>
            <div class="content">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="">
                <strong>Shashi Kumar</strong>
                <p>114shashi@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/in/shashi-kumar-0bb59422a/" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-4">
                <label class="heart" for="heart-btn-4"></label>
            </div>
            <div class="content">
                <img src="https://pbs.twimg.com/profile_images/1652987690936315904/T227STVM_400x400.jpg" alt="">
                <strong>Shivam Dharpure</strong>
                <p>dharpureshivam@gmail.com</p>
            </div>
            <div class="btn">
                <a href="https://www.linkedin.com/in/s88788d/" target="_blank"><i class="fa fa-clipboard"
                        aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
    </div>