<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/team.css">

    <div class="container">
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-1">
                <label class="heart" for="heart-btn-1"></label>
            </div>
            <div class="content">
                <img src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                    alt="">
                <strong>David Warner</strong>
                <p>thewarner@gmail.com</p>
            </div>
            <div class="btn">
                <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <div>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div>
                    <input type="checkbox" class="heart-btn" id="heart-btn-2">
                    <label class="heart" for="heart-btn-2"></label>
                </div>
            </div>
            <div class="content">
                <img src=https://images.pexels.com/photos/2826131/pexels-photo-2826131.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260
                    alt="">
                <strong>Rohan Tolani</strong>
                <p>rooohan@gmail.com</p>
            </div>
            <div class="btn">
                <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-3">
                <label class="heart" for="heart-btn-3"></label>
            </div>
            <div class="content">
                <img src=https://images.pexels.com/photos/3681591/pexels-photo-3681591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                    alt="">
                <strong>Raquel John</strong>
                <p>Raquel John</p>
            </div>
            <div class="btn">
                <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-4">
                <label class="heart" for="heart-btn-4"></label>
            </div>
            <div class="content">
                <img src=https://images.pexels.com/photos/1689731/pexels-photo-1689731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                    alt="">
                <strong>Priya Mehra</strong>
                <p>priyamehraa@gmail.com</p>
            </div>
            <div class="btn">
                <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-4">
                <label class="heart" for="heart-btn-4"></label>
            </div>
            <div class="content">
                <img src=https://images.pexels.com/photos/1689731/pexels-photo-1689731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                    alt="">
                <strong>Priya Mehra</strong>
                <p>priyamehraa@gmail.com</p>
            </div>
            <div class="btn">
                <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
        <div class="box">
            <div class="top-bar"></div>
            <div class="top">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <input type="checkbox" class="heart-btn" id="heart-btn-4">
                <label class="heart" for="heart-btn-4"></label>
            </div>
            <div class="content">
                <img src=https://images.pexels.com/photos/1689731/pexels-photo-1689731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                    alt="">
                <strong>Priya Mehra</strong>
                <p>priyamehraa@gmail.com</p>
            </div>
            <div class="btn">
                <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>LinkedIn</a>

            </div>
        </div>
    </div>