<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/testimonials.css">

    <div class="test pb-5">
        <h1 class='testhead py-4'>Testimonials
        </h1>

        <div class="testcontainer mx-5 p-3">
            <h3>Shrishti Rode -2nd Year</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odio, rerum mollitia corporis quo
                distinctio natus numquam modi? Animi aut minima dignissimos iste omnis ipsa veniam tenetur nam quia
                quam?
            </p>
        </div>

        <div class="testcontainer mx-5 p-3">
            <h3>Dhruv Singhal -1st Year</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus similique praesentium natus ullam
                rem. Assumenda doloribus ad dicta cupiditate delectus! Tempore officia ut culpa facere, nihil
                repellendus atque odit eum!</p>
        </div>

        <div class="testcontainer mx-5 p-3">
            <h3>Abeeda Khan -1st Year</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima facere nisi, molestiae dolorem ipsum
                obcaecati neque, maiores minus voluptate at fugit ab beatae animi voluptates aspernatur quisquam ipsa
                cupiditate commodi.</p>
        </div>

        <div class="testcontainer mx-5 p-3">
            <h3>Harish Singh -3rd Year</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis, eligendi quidem sit explicabo
                molestias temporibus, sapiente maxime dicta atque in aut inventore quae. Ex illum error cupiditate
                perspiciatis architecto?</p>
        </div>

        <div class="testcontainer mx-5 p-3">
            <h3>Rukhsana Khatoon-2nd Year</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatum nobis amet neque dolores
                labore. Dicta optio, obcaecati sit saepe necessitatibus aspernatur corrupti fuga, cumque nostrum quod
                dolore dolor repellendus?</p>
        </div>

        <div class="testcontainer mx-5 p-3">
            <h3>Priyam Rai-1st Year</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ea accusamus similique repellat sint nam,
                dolore porro deleniti aut blanditiis aspernatur magni voluptates culpa. Doloremque expedita nesciunt
                laudantium asperiores repudiandae!</p>
        </div>
    </div>