body {
    background-color: #0eaeb4;
    
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    border-radius: 3px;
  }
  
  .title {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .subtitle {
    font-size: 24px;
    margin: 20px 0 10px;
    padding: 0;
  }
  
  .list-group {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .list-group-item {
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .list-group-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .label {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  
  .link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #0056b3;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  

