*{
    margin: 0;
    padding: 0;

}
.heading{
    width: 1000px;
    margin: 40px auto 0px auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-family: sans-serif;


}
body{
    background: url('https://res.cloudinary.com/fleetnation/image/private/c_fit,w_1120/g_south,l_text:style_gothic2:%C2%A9%20Stockimo,o_20,y_10/g_center,l_watermark4,o_25,y_50/v1482998535/hl7tm2mzvoom151rt7nh.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

div.main{
    width: 1000px;
    margin: 50px auto 0px auto;
}

h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.register{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;

}

form#register{
    margin: 40px;
}

label{
    font-family: sans-serif;
    font-size: 18px;
}

input#name{
    width: 900px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(250, 100, 0, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

label,span,h2{
    text-shadow: 1px 1px 5px rgba(255,255,255,0.3)
}

.course{
    width: 900px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}