body {
  background-image: url("https://wallpapercave.com/wp/wp6350571.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3fdd1f
}

#Heading {
  text-align: center;
  margin: 3vh;
  padding: 5px;
  font-size: 50px;
  color: #000000;
}

.row {
  display: flex;
  justify-content: center;
  margin: 8vh;
}

.column {
  width: 30%;
  float: center;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.card {
  background-color: #53735b55;

  border-radius: 20px;
  padding: 25Px;
  width: 80%;
  box-shadow: 0 0 10px rgb(0, 255, 0);
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #972d2daf;
  transform: translateY(-20px);
  box-shadow: 0 0 40px rgb(250, 0, 0);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9 rems;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.btn {
  background-color: rgba(7, 177, 189, 0.108);
  border-radius: 100px;

  border-color: #080808b9;
  padding: 10px 20px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: extra large;
  text-transform: capitalize;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  align-items: center;
}

.btn:hover {
  background-color: #f6f1f100;
  color: rgb(0, 0, 0);
  border-color: #fc010155;

  cursor: pointer;
}

.btn-primary {
  align-items: center;
}